@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";

:root {
    --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

/** {*/
/*    outline: 1px solid red;*/
/*}*/

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #0c0b1a;
    color: #ececec;
    scroll-behavior: smooth;
    font-family: "Mona Sans", sans-serif;
}

section {
    width: 100dvw;
}

@theme {
    --color-headline: #e4d8ff;

    --font-zing: 'ZingRust', sans-serif;

    --text-tiny: 7.5rem;
    --text-tiny--line-height: 7rem;
    --text-tiny--letter-spacing: 0.2rem;
    --text-tiny--font-weight: 500;
    
}

@font-face {
    font-family: 'ZingRust';
    src: url('/src/public/fonts/zing_rust.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@layer components {
    .text-tiny-sub {
        font-size: calc(var(--text-tiny) * 1.14);
        line-height: var(--text-tiny--line-height);
        letter-spacing: var(--text-tiny--letter-spacing);
        font-weight: var(--text-tiny--font-weight);
    }
}

@layer keyframes {
    @keyframes marquee {
        from { transform: translateX(0%); }
        to { transform: translateX(-50%); }
    }
    @keyframes floatMagnetic {
        0%   { transform: translateY(0px); }
        25%  { transform: translateY(-5px); }
        50%  { transform: translateY(0px); }
        75%  { transform: translateY(3px); }
        100% { transform: translateY(0px); }
    }
}

@layer utilities {
    .translate-101 {
        --tw-translate-x: 101%;
        transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .animate-marquee {
        animation: marquee 15s linear infinite;
    }
    .magnetic {
        animation: floatMagnetic 3s ease-in-out infinite;
    }
}

* {
    outline: 1px solid rgba(255, 0, 0, 0.3) !important;
}