@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";

:root {
    --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

/** {*/
/*    outline: 1px solid red;*/
/*}*/

html,
body {
    width: 100dvw;
    overflow-x: hidden;
    background-color: #0c0b1a;
    color: #ececec;
    scroll-behavior: smooth;
    font-family: "Mona Sans", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    width: 100dvw;
}

@theme {
    --color-headline: #e4d8ff;

    --font-zing: 'ZingRust', sans-serif;

    --text-tiny: 7.5rem;
    --text-tiny--line-height: 7rem;
    --text-tiny--letter-spacing: 0.2rem;
    --text-tiny--font-weight: 500;
    
}

@font-face {
    font-family: 'ZingRust';
    src: url('/src/public/fonts/zing_rust.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@layer components {
    .text-tiny-sub {
        font-size: calc(var(--text-tiny) * 1.14);
        line-height: var(--text-tiny--line-height);
        letter-spacing: var(--text-tiny--letter-spacing);
        font-weight: var(--text-tiny--font-weight);
    }
}